/* Lab name: Experimental Biochemistry
Exp name: Protein purification by size exclusion chromatography (SEC)
File name: main.css
Developer: Prakriti Dhang */

.card {
    margin-bottom: 10px;
}

.img-container {
    /*width: 100%;*/

    display: inline-block;
    position: relative;
}

#falcon {
    position: relative;
    width: 6%;
    top: 5%;
    left: 5%;
    cursor: pointer;
}

#falconzoom {
    position: absolute;
    width: 1%;
    /* 1-10 */
    top: 60%;
    left: 7%;
}

#falconzoom1 {
    position: absolute;
    width: 15%;
    /* 15 */
    top: 2%;
    left: 15%;
    display: none;
}


#machine {
    position: relative;
    width: 98%;
    height:80%;
    top: 150%;
    left: 3%;
}

#inject {
    position: absolute;
    width: 10%;
    top: 60.5%; 
    left: 50%; /*50-41 */
    rotate: 45deg;
    cursor: pointer;

}

#injection {
    position: absolute;
    width: 3%;
    top: 69.6%;
    left: 47%; /* 47-48-57.5 */
    rotate: 45deg;
    cursor: pointer;

}


#injectps {
    position: absolute;
    width: 10%;
    top: 62%;
    left: 50%;
    /*50-41 */
    rotate: 45deg;
    cursor: pointer;
    display: none;

}

#injectionps {
    position: absolute;
    width: 3%;
    top: 70.5%;
    left: 57%;
    /* 47-48-57.5 */
    rotate: 45deg;
    cursor: pointer;
    display: none;

}

#buffer {
    position: absolute;
    width: 6.8%;
    top: 9%;
    left: 24.4%;
    display: block;
    opacity: 0.8;
    cursor:pointer;
   
}

#tube {

    position: absolute;
    width: 3%;
    top: 85%;
    left: 82%;
}

#canvascolumn {
    position: absolute;
    width: 1.5%;
    height: 51%;
    /*15- 55*/
    top: 14.5%;
    /*10-50*/
    left: 82.8%;
    z-index: 12;

}

#canvascolumnpa {
    position: absolute;
    width: 1.5%;
    height: 25%;
    top: 40%;
    left: 82.8%;
    z-index: 10;

}

#canvascolumnpb {
    position: absolute;
    width: 1.5%;
    height: 35%;
    top: 30%;
    left: 82.8%;
    z-index: 8;
}

#canvascolumnpc {
    position: absolute;
    width: 1.5%;
    height: 45%;
    top: 20%;
    left: 82.8%;
    z-index: 6;
}

#canvascolumnpd {
    position: absolute;
    width: 1.5%;
    height: 51%;
    top: 14.5%;
    left: 82.8%;
}


#canvastube {
    position: absolute;
    width: 2.3%;
    height: 12%;
    top: 93%;
    left: 82.4%;
}

#canvastubep1 {
    position: absolute;
    width: 2.3%;
    height: 12%;
    top: 93%;
    left: 82.4%;
}

#canvastubep2 {
    position: absolute;
    width: 2.3%;
    height: 12%;
    top: 93%;
    left: 82.4%;
}

#canvastubep3 {
    position: absolute;
    width: 2.3%;
    height: 12%;
    top: 93%;
    left: 82.4%;
}

#canvastubep4 {
    position: absolute;
    width: 2.3%;
    height: 12%;
    top: 93%;
    left: 82.4%;
}

#bdrop {
    position: absolute;
    width: 2.3%;
    top: 71%; /*71-85*/
    left: 82.6%;
    display: none;
}

#padrop {
    position: absolute;
    width: 2.3%;
    top: 71%; /*71-85*/
    left: 82.6%;
    display: none;
}

#pbdrop {
    position: absolute;
    width: 2.3%;
    top: 71%; /*71-85*/
    left: 82.6%;
    display: none;
}

#pcdrop {
    position: absolute;
    width: 2.3%;
    top: 71%; /*71-85*/
    left: 82.6%;
    display: none;
}

#pddrop {
    position: absolute;
    width: 2.3%;
    top: 71%; /*71-85*/
    left: 82.6%;
    display: none;
}

#bopt{
    position: relative;
    width: 3%;
    top: 10%;
    left: 20%;
    display: none;
}


#paopt{
    position: absolute;
    width: 5%;
    top: 1%;
    left: 52%;
    display: none;
}

#pbopt{
    position: absolute;
    width: 5%;
    top: 1%;
    left: 62%;
    display: none;
}
#pcopt{
    position: absolute;
    width: 5%;
    top: 1%;
    left: 72%;
    display: none;
}
#pdopt{
    position: absolute;
    width: 5%;
    top: 1%;
    left: 80%;
    display: none;
}


#ladder{
    position: relative;
    width:40%; /*60*/
    top: 1%;
    left: 10%;
    display: none;
}
#optgel{
    position: absolute;
    width:40%; /*60*/
    top: 1%;
    left: 62%;
    display: none;
}

#inpttime{
   
    position: absolute;
    width: 12%;
    top: 40%;
    left: 10%;
    border:1px solid white;
    z-index:10;
}

#inptfrate{
   
    position: absolute;
    width: 19%;
    top: 55%;
    left: 10%;
    
    z-index:10;
}