/* Lab name: Experimental Biochemistry
Exp name: Protein purification by size exclusion chromatography (SEC)
File name: main.css
Developer: Prakriti Dhang */

.card {
    margin-bottom: 5px;
}

.img-container {
    /*width: 100%;*/

    display: inline-block;
    position: relative;
}

#falcon {
    position: relative;
    width: 6%;
    top: 5%;
    left: 5%;
    cursor: pointer;
}

#falconzoom {
    position: absolute;
    width: 1%;
    /* 1-10 */
    top: 60%;
    left: 7%;
}

#falconzoom1 {
    position: absolute;
    width: 15%;
    /* 15 */
    top: 2%;
    left: 15%;
    display: none;
}


#machine {
    position: absolute;
    width: 95%;
    top: 150%;
    left: 3%;
}

#inject {
    position: absolute;
    width: 10%;
    top: 265%;
    left: 50%;
    /*50-40 */
    rotate: 45deg;
    cursor: pointer;

}

#injection {
    position: absolute;
    width: 3%;
    top: 284%;
    left: 57.5%;
    /* 46-47.5-57.5 */
    rotate: 45deg;
    cursor: pointer;

}


#injectps {
    position: absolute;
    width: 10%;
    top: 265%;
    left: 50%;
    /*50-40 */
    rotate: 45deg;
    cursor: pointer;
    display: none;

}

#injectionps {
    position: absolute;
    width: 3%;
    top: 284%;
    left: 57.5%;
    /* 46-47.5-57.5 */
    rotate: 45deg;
    cursor: pointer;
    display: none;

}

#buffer {
    position: absolute;
    width: 8%;
    top: 50%;
    left: 57.5%;
    display: none;
}

#tube {

    position: absolute;
    width: 3%;
    top: 370%;
    left: 80%;
}

#canvascolumn {
    position: absolute;
    width: 1.5%;
    height: 113%;
    /*28- 113*/
    top: 184%;
    /*270-184 */
    left: 80.4%;
    z-index: 12;

}

#canvascolumnpa {
    position: absolute;
    width: 1.5%;
    height: 48%;
    top: 248.8%;
    left: 80.4%;
    z-index: 10;

}

#canvascolumnpb {
    position: absolute;
    width: 1.5%;
    height: 70%;
    top: 226%;
    left: 80.4%;
    z-index: 8;
}

#canvascolumnpc {
    position: absolute;
    width: 1.5%;
    height: 92%;
    top: 205%;
    left: 80.4%;
    z-index: 6;
}

#canvascolumnpd {
    position: absolute;
    width: 1.5%;
    height: 113%;
    top: 184%;
    left: 80.4%;
}


#canvastube {
    position: absolute;
    width: 2.3%;
    height: 20%;
    top: 395%;
    left: 80.4%;
}

#canvastubep1 {
    position: absolute;
    width: 2.3%;
    height: 20%;
    top: 395%;
    left: 80.4%;
}

#canvastubep2 {
    position: absolute;
    width: 2.3%;
    height: 20%;
    top: 395%;
    left: 80.4%;
}

#canvastubep3 {
    position: absolute;
    width: 2.3%;
    height: 20%;
    top: 395%;
    left: 80.4%;
}

#canvastubep4 {
    position: absolute;
    width: 2.3%;
    height: 20%;
    top: 395%;
    left: 80.4%;
}

#bdrop {
    position: absolute;
    width: 2.3%;
    top: 315%; /*315-395*/
    left: 80.4%;
    display: none;
}

#padrop {
    position: absolute;
    width: 2.3%;
    top: 315%; /*315-395*/
    left: 80.4%;
    display: none;
}

#pbdrop {
    position: absolute;
    width: 2.3%;
    top: 315%; /*315-395*/
    left: 80.4%;
    display: none;
}

#pcdrop {
    position: absolute;
    width: 2.3%;
    top: 315%; /*315-395*/
    left: 80.4%;
    display: none;
}

#pddrop {
    position: absolute;
    width: 2.3%;
    top: 315%; /*395*/
    left: 80.4%;
    display: none;
}

#bopt{
    position: absolute;
    width: 3%;
    height: 17%;
    top: 128%;
    left: 20%;
    display: none;
}


#paopt{
    position: absolute;
    width: 3%;
    height: 17%;
    top: 128%;
    left: 30%;
    display: none;
}

#pbopt{
    position: absolute;
    width: 3%;
    height: 17%;
    top: 128%;
    left: 40%;
    display: none;
}
#pcopt{
    position: absolute;
    width: 3%;
    height: 17%;
    top: 128%;
    left: 50%;
    display: none;
}
#pdopt{
    position: absolute;
    width: 3%;
    height: 17%;
    top: 128%;
    left: 60%;
    display: none;
}