/* Lab name: Experimental Biochemistry
Exp name: Protein purification by size exclusion chromatography (SEC)
File name: main.css
Developer: Prakriti Dhang */

.card {
    margin-bottom: 5px;
}

.img-container {
    /*width: 100%;*/

    display: inline-block;
    position: relative;
}

#falcon {
    position: relative;
    width: 5%;
    top: 5%;
    left: 5%;
}

#falconzoom {
    position: absolute;
    width: 1%; /* 1-10 */
    top: 60%;
    left: 7%;
}


#machine {
    position: absolute;
    width: 95%;
    top: 150%;
    left: 3%;
}

#inject {
    position: absolute;
    width: 10%;
    top: 288%; 
    left:50%; /*50-40 */
    rotate: 45deg;
}

#injection {
    position: absolute;
    width: 3%;
    top: 312%;
    left:57.5%; /* 46-47.5-60 */
    rotate: 45deg;
}


#buffer{
    position: absolute;
    width: 5%;
    top: 50%;
    left:57.5%; 
}
#tube {

    position: absolute;
    width: 3%;
    top: 370%;
    left:80%;
}